.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
}

.menuSection {
  width: 100%;
  padding-block: 1.875rem;
  background-color: var(--white);
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  position: relative;
  color: var(--black);
  font-size: var(--fs16);
  font-weight: var(--fwMedium);
  transition: color var(--animation);
}

.title .titleArrow {
  margin-top: 0.5rem;
  transform: rotate(0deg);
  transition: transform var(--animation);
}

.menuItem {
  border-bottom: 0.063rem solid var(--gray0);
  padding-block: 1rem;
}

.menuItem:first-child {
  padding-top: 0;
}

.menuItem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

button.title {
  gap: 0.313rem;
}

button.title img {
  transform: rotate(0deg);
  transition: transform var(--animation);
}

button.title.opened img {
  transform: rotate(-180deg);
}

.subMenu {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 400ms;

  padding: 0.75rem 1.25rem 0;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white);
}

.subMenu.opened {
  grid-template-rows: 1fr;
}

.contentWrapper {
  min-height: 0;
}

.content {
  margin: 1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-left: 0;
  color: var(--black);
  font-size: var(--fs13);
  transition: color var(--animation), padding-left var(--animation);
}

.link img {
  transform: rotate(270deg);
}

.subMenu li:not(:last-child) .link {
  border-bottom: 1px solid var(--gray0);
}

@media all and (min-width: 768px) {
  .wrapper {
    border-bottom: 1px solid var(--gray0);
  }

  .stickySection {
    position: sticky;
    top: 0;
  }

  .menuSection {
    padding-block: 0;
  }

  .menu {
    flex-direction: row;
    gap: 2rem;
  }

  .menuItem:hover .title,
  .menuItem:focus .title {
    color: var(--gray4);
  }

  .menuItem {
    border-bottom: none;
    padding-block: 0;
  }

  .title {
    padding-block: 1.375rem 1.25rem;
  }

  .menuItem:hover .titleArrow,
  .menuItem:focus .titleArrow {
    transform: rotate(180deg);
  }

  .subMenu {
    display: flex;
    position: absolute;
    top: 4.125rem;
    width: 11rem;
    z-index: -1;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--gray0);
    opacity: 0;
    transition: opacity var(--animation), z-index var(--animation);
  }

  .menuItem:focus .subMenu,
  .menuItem:hover .subMenu {
    z-index: 1;
    opacity: 1;
  }

  .link:hover,
  .link:focus {
    color: var(--gray4);
    padding-left: 0.5rem;
  }
}
