.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray0);
}

.stickySection {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.title {
  color: var(--black);
  font-size: var(--fs16);
  font-weight: var(--fwMedium);
  transition: color var(--animation);
}

.menuItem:hover .title,
.menuItem:focus .title {
  color: var(--gray4);
}

.menuItem .title {
  display: flex;
  position: relative;
  padding-block: 1.375rem 1.25rem;
}

.title .titleArrow {
  margin-top: 0.5rem;
  transform: rotate(0deg);
  transition: transform var(--animation);
}

.menuItem:hover .titleArrow,
.menuItem:focus .titleArrow {
  transform: rotate(180deg);
}

button.title {
  gap: 0.313rem;
}

.subMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4.125rem;
  width: 11rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--white);
  border: 1px solid var(--gray0);
}

.menuItem:focus .subMenu,
.menuItem:hover .subMenu {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-left: 0;
  color: var(--black);
  font-size: var(--fs13);
  transition: color var(--animation), padding-left var(--animation);
}

.link:hover,
.link:focus {
  color: var(--gray4);
  padding-left: 0.5rem;
}

.link img {
  transform: rotate(270deg);
}

.subMenu li:not(:last-child) .link {
  border-bottom: 1px solid var(--gray0);
}

.menuMobile {
  justify-content: flex-start;
  align-items: stretch;
}

.menuMobile.wrapper {
  border-bottom: none;
}

.menuMobile nav {
  width: 100%;
}

.menuMobile .menu {
  flex-direction: column;
  gap: 0;
}

.menuMobile .menuItem {
  border-bottom: 0.063rem solid var(--gray0);
  padding-block: 1rem;
}

.menuMobile .menuItem:first-child {
  padding-top: 0;
}

.menuMobile .menuItem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.menuMobile .title {
  padding-block: 0;
}

.menuMobile .subMenu {
  position: static;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 1.25rem 0;
  /* background-color: pink; */
}

.menuMobile .link:hover,
.menuMobile .link:focus {
  color: inherit;
  padding-left: inherit;
}

@media all and (min-width: 1024px) {
  .menuMobile {
    display: none;
  }

  .menuDesltop {
    display: flex;
  }
}
