.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 48px;
  column-gap: 30px;
  max-width: 1160px;
}

@media all and (min-width: 768px) {
  .cardContainer {
    column-gap: 40px;
  }
}
