.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem 40px;
  background-color: var(--white);
}

.postButton {
  width: 100%;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.postButton:after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -10px;
  border: 1px solid transparent;
  transition: border-color var(--animationShort);
}

.postButton:hover:after,
.postButton:focus:after {
  border-color: var(--gray0);
}

.cardWrapper {
  padding-block: 1.188rem;
}

@media all and (min-width: 600px) {
  .postButton {
    width: calc(50% - 20px);
  }

  .cardWrapper {
    padding-block: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .postButton {
    width: calc(33.33% - 26.666px);
  }
}
