.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.img {
  max-width: 100%;
}

.tags {
  font-size: var(--fs13);
  font-weight: var(--fwBold);
  color: var(--red);
}

.title {
  margin: 0;
  font-size: var(--fs24);
  font-weight: var(--fwBold);
  line-height: var(--lh30);
}

.info * {
  font-size: var(--fs12);
  font-weight: var(--fwNormal);
  color: var(--gray2);
}

.info span:first-child {
  font-weight: var(--fwBold);
  color: var(--black);
}

.info *:not(:first-child):before {
  content: '•';
  display: inline-flex;
  margin-inline: 0.313rem;
  color: var(--gray1);
}

.text {
  margin: 0;
  color: var(--gray3);
  font-size: var(--fs14);
  line-height: var(--lh20);
}
