.modal {
  position: fixed;
  inset-block: 0;
  left: 0;
  height: 100vh;
  display: flex;
  overflow: scroll;
  transform: translateX(-100%);
  transition: transform var(--animationLong);
}

.modal.modalOpen {
  transform: translateX(0);
  z-index: 239999;
}
