.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  display: flex;
  overflow: scroll;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 1s;
}

.modal.modalOpen {
  transform: translateX(0);
  z-index: 239999;
}
