.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menuButton {
  width: 44px;
  height: 44px;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 75px;
}

.logoWrapper {
  width: 10.199rem;
  height: 1.5rem;
}

.placeholder {
  display: none;
}

@media all and (min-width: 768px) {
  .header {
    border-bottom: 1px solid var(--gray0);
  }

  .menuButton {
    display: none;
  }

  .placeholder {
    display: block;
    width: 44px;
    height: 44px;
  }

  .logoSection {
    justify-content: space-between;
    padding-block: 1.813rem 1.625rem;
    height: auto;
  }

  .logoWrapper {
    width: 11.302rem;
    height: 1.663rem;
  }
}
