.logoSection {
  display: flex;
  justify-content: center;
  position: relative;
  padding-block: 1.813rem 1.563rem;
  border-bottom: 1px solid var(--gray0);
}

.search {
  position: absolute;
  right: 0px;
}
