:root {
  --red: #eb0028;
  --gray0: #e9e9e9;
  --gray1: #d7d7d7;
  --gray2: #9b9b9b;
  --gray3: #929292;
  --gray4: #969696;
  --black: #000000;

  --weightBold: 700;
  --weightMedium: 500;
  --weightNormal: 400;

  --font12: 0.75rem;
  --font13: 0.813rem;
  --font14: 0.875rem;
  --font16: 1rem;
  --font24: 1.5rem;

  --lh20: 1.25rem;
  --lh30: 1.875rem;

  /* TODO: use proper font & line-height */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding-block: 3rem 10.313rem;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
}

a {
  text-decoration: none;
}

ul {
  all: unset;
}

.container {
  width: 100%;
  max-width: 1160px;
}
