.modalContainer {
  background-color: var(--white);
  width: 100%;
}

.modalContainer.mobileMenu {
  border-right: 1px solid var(--gray0);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem 1.625rem;
  border-bottom: 1px solid var(--gray0);
}

.closeButton {
  width: 44px;
  height: 44px;
}

.closeButton img {
  width: 19px;
  height: 19px;
}

@media all and (min-width: 768px) {
  .mobileMenuModal {
    display: none;
  }
}
